*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    align-items: center;
    justify-items: center;
}

.canvas {
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 899px;
}